main {
  padding-bottom: 50vw;
  background-color: #242724;
  background-image: url(/imagens/FUNDO_2.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.texto {
  color: green;
  font-size: 3rem;
  font-weight: 900;
}

.teste {
  background-color: #222222;
  border: solid 2px #242724;
}
.texto-nome {
  color: #5ec572;
}
.texto-botao {
  color: #5ec572;
}

.card:hover {
  scale: 1.1;
}

#icone-header {
  cursor: pointer;
}
.icones-link {
  text-decoration: none;
  color: #5ec572;
  font-size: 30px;
  padding: 10px;
}

/* .init-hidden {
  animation-name: teste1;
  animation-duration: 1s;
  animation-timing-function:ease-in-out;
  
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  
@keyframes teste1 {
 from {
   transform: scale(0);
  }
  
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 768px) {
  .init-hidden {
    animation-name: none;
    transform: scale(1) 
}
} */
